*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#page-container {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 2fr 1fr 1fr;
    .activity-button {
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        background: #BABFD1;
        padding:20px;

        &:hover {
            transition: all 0.3s ease-in-out;
            background: #607196;   
            cursor: pointer;
            color: yellow; 
        }
    }
}